rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // // To match the document containing a specific userId within the `users` collection, and everything within it (including the `inventory` subset).
    match /users/{userId}/{document=**} {
      
      // Core security logic:
      // 1. `request.auth != null` -> Ensures the user is logged in.

      // 2. `request.auth.uid == userId` -> Ensures the user can only access the document whose name matches their UID.
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
    }
  }
}